/*Navigation*/

.nav {
    position: $secPosition;
    ;
    right: 0em;
    top: 2.2em;
    ul {
      list-style-type: none;
    }
    ul li {
      float: left;
    }
    ul li:last-child {
      padding-right: 0;
    }
    a,
   span {
    display: $Display1;
    margin-left: 0.7em;
    padding: 0.80em 1.2em;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    outline: 0;
    color: $Notlight;
    }
    li.active a {
      background: $Linkcolor;
      border-radius: 5px;
      color: $light;
    }
  }